<ion-header-bar class="bar-energized">
  <h1 class="title">忘记密码</h1>
</ion-header-bar>
  <ion-content class="login-page has-header">
    <form name="myForm">
      <div class="list list-item">
        <label class="item item-input">
          <input type="number" name="tel" placeholder="手机号" ng-model="userInfo.tel" required ng-pattern="/^1[34578]\d{9}$/">
        </label>
        <div class="item item-input" style="margin-top: 20px;";>
          <input type="number" name="code"  placeholder="验证码" required ng-model="userInfo.code"/>
          <button class="button button-positive button-small" ng-disabled="isButtonDisable" ng-click="sendCode()">{{codetime}}</button>
        </div>
      </div>

      <button type="submit" class="button button-block login-btn" ng-click="login(myForm.$error)">登陆</button>
    </form>

    <div class="third-party-box">
      <a ng-click="changeLoginMethod();">{{loginMethodText}}</a>
    </div>
    <!--toast提示-->
    <div class="toast-container active"
         ng-if="(myForm.code.$touched || myForm.$submitted)&&(userInfo.code != userInfo.generateCode)&&isUserCode">
      <div class="toast-message">手机验证码不正确</div>
    </div>
    <div class="toast-container active" ng-messages="myForm.code.$error"
         ng-if="(myForm.code.$touched || myForm.$submitted) && isUserCode">
      <div class="toast-message" ng-message="required">验证码不能为空</div>
    </div>
    <div class="toast-container active" ng-messages="myForm.tel.$error" ng-if="myForm.tel.$touched ||myForm.$submitted">
      <div class="toast-message" ng-message="required">手机号不能为空</div>
      <div class="toast-message" ng-message="pattern">手机号格式不正确</div>
    </div>
  </ion-content>
</ion-view>
