<ion-header-bar class="bar-energized">
  <h1 class="title">学生注册</h1>
</ion-header-bar>
<ion-content class="has-header login-page">
  <div class="list">
    <label class="item item-input" >
      <span class="input-label" style="text-align: left; padding-left: 4%;">您的名称</span>
      <input type="text" name="username" ng-model="regInfo.userName" required>
    </label>
    <label class="item item-input item-select" style="margin-top: 20px;">
      <div class="input-label">
        选择您所在的学校
      </div>
      <select ng-model="regInfo.colleageName" ng-options="name for name in colleageList" ng-change="changeColleage()">
      </select>
    </label>
    <label class="item item-input item-select" style="margin-top: 20px;">
      <div class="input-label">
        选择您所在的专业
      </div>
      <select ng-model="selectedColleageInfo.info" ng-options="item.professionName for item in colleageInfo" ng-change="changeProfession()">
      </select>
    </label>
    <label class="item item-input item-select" style="margin-top: 20px;">
      <div class="input-label">
        选择您所在的班级
      </div>
      <select ng-model="classItem.info" ng-options="item.name for item in classList" ng-change="changeClass();">
      </select>
    </label>

  </div>
  <div class="toast-container active" ng-messages="myForm.username.$error" ng-if="myForm.username.$touched ||myForm.$submitted">
    <div class="toast-message" ng-message="required">用户名不能为空</div>
    <div class="toast-message" ng-message="email"></div>
  </div>
  <button class="button button-block login-btn" ng-click="confirm()">确认</button>

</ion-content>
