<!-- 这里就是控制器的内容 ,然后直接在控制器里面插入modal的页面元素-->
<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <!--form表单-->
    <form class="form-horizontal" name ="myForm">
        <div class="form-group">
            <label for="roleName" class="col-sm-2 control-label">角色名</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="roleName" name="roleName" placeholder="角色名"
                       ng-model="item.roleName" required valid-unique namelist="roleList" value="roleName" url="test/role.json"
                       ng-maxlength="20" ng-minlength="2"
                >
            </div>
            <div class="col-sm-4" ng-messages="myForm.roleName.$error" ng-show="myForm.roleName.$touched ||myForm.$submitted">
                <label ng-message="required">角色名不能为空</label>
                <label ng-message="minlength">角色名最小长度为2</label>
                <label ng-message="maxlength">角色名最大长度为20</label>
                <label ng-message="validUnique">角色名不唯一</label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

